services:
  worker:
    build:
      context: ../..
      dockerfile: deploy/local/Dockerfile
    restart: unless-stopped
    env_file:
      - ../.env.worker
    depends_on:
      db:
        condition: service_healthy

  db:
    image: postgres:18
    env_file:
      - ../.env.admin
      - ../.env.worker
    volumes:
      - pgdata:/var/lib/postgresql
      - ../common/initdb:/docker-entrypoint-initdb.d:ro
    restart: unless-stopped
    command: [ "postgres", "-c", "log_statement=all" ]
    ports:
      - "5432:5432"
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready" ]
      interval: 10s
      timeout: 5s
      retries: 5

volumes:
  pgdata:
