name: Run tests

on:
  push:
  pull_request:
  workflow_dispatch:

permissions:
  contents: read

jobs:
  build:
    if: "!startsWith(github.ref, 'refs/tags/')"
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version-file: "pyproject.toml"

      - name: Install uv
        uses: astral-sh/setup-uv@v7

      - name: Install dependencies
        run: uv sync --group dev

      - name: Do lint checks with ruff
        run: uv run ruff check

      - name: Typecheck with mypy
        run: uv run mypy src

      - name: Test with pytest
        run: |
          uv run pytest \
          --cov=src \
          --cov-report=xml \
          --cov-report=term-missing \
          --cov-report=html \
          --cov-report=xml:coverage.xml \
          --cov-fail-under=80

      - name: Upload coverage HTML report
        uses: actions/upload-artifact@v6
        with:
          name: coverage-report
          path: htmlcov

      - name: Upload coverage report to codecov
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          fail_ci_if_error: true
          files: coverage.xml
